

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Choose A Photo</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <% @photos.each do |photo| %>
            <div class="col-6">
              <h1><%= photo.caption %></h1>
              <br>
              <div id= "picture-<%=photo.id%>"><%=image_tag photo.picture, class: "img-fluid" %></div>
            </div>
          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<br>
<div class="float-right white"><%= render "/layouts/coins_ui" %></div>
<br>
<div class="make-comment col-12 col-sm-10 offset-sm-1 text-center animated bounce" style="background-image: url('<%=@req%>'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <br>
  <h2 class="my-font2 text-center">Make A Wish</h2>
  <%= simple_form_for @wish, url: wishes_path do |f| %>
    <%= f.input :description, placeholder: "I Wish For World Peace", label: false, class: "wish-description" %>
    <%= f.hidden_field :url%>
    <br>


    <%= button_tag(type: 'submit', class: "btn clickMe wish-button nohover") do %>
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
    <% end %>
  <% end %>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Pick A Background Photo
</button>



<script>
  $(function(){
    // check if enter key is pressed on the comment form
    $(".wish_description").keypress(function(e) {
        if(e.which == 13) {

          $(".clickMe").click();
          $(this).val("")
        }
    });

    //console.log("<%= @req %>")

    var imageUrl = null;
    var wish_description = null;
    $("img").click(function(e){
      console.log(e.target.src)
      imageUrl = e.target.src;
      // wish_description = $("#wish_description").val()

      // $.post("/wishes",{
      //   wish: {
      //     url: imageUrl,
      //     description: wish_description
      //   }
      // }).success(function(data){
      //   console.log("SUCCESS")
      // })
      $("#wish_url").val(imageUrl)
      //$("#myModal, .modal-backdrop").hide()
      $("#myModal").modal('toggle')
      $(".make-comment").css({
        "background-image": "url(" + imageUrl + ")",
        "background-size": "cover"

        }
      );

    });


  });



</script>

