<br>s
<div class="float-right white"><%= render "/layouts/coins_ui" %></div>
<br>
<div class="make-comment col-12 col-sm-10 offset-sm-1 text-center animated bounce" style="background-image: url('<%=@req%>'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <br>
  <h2 class="my-font2 text-center">Make A Wish</h2>
  <%= simple_form_for @wish, url: wishes_path do |f| %>
    <%= f.input :description, placeholder: "I Wish For World Peace", label: false, class: "wish-description" %>
    <br>


    <%= button_tag(type: 'submit', class: "btn clickMe wish-button nohover") do %>
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
    <% end %>
  <% end %>
</div>



<script>
  $(function(){
    // check if enter key is pressed on the comment form
    $(".wish_description").keypress(function(e) {
        if(e.which == 13) {

          $(".clickMe").click();
          $(this).val("")
        }
    });

    console.log("<%= @req %>")
  })

</script>

