<br>
<div class="float-right white"><%= render "/layouts/coins_ui" %></div>
<br />
<div class="booyah-box2 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2"  id="kcontainer">
<div id="cloud-container">
  <div class="form">
    <h1 class="text-center username">
    <% if @wish.user.username.present? %>
       <span class="form-username my-font"><%= @wish.user.username %>'s Wish:</span>
      <br>
    <% else %>
      WISH
    <% end %>
    </h1>
    <p class="lead text-center wish-description"><%= @wish.description %></p>
    <h3 class="text-center" style="position: relative;">
      <%= @wish.coin_bucket %>
      <div id="heart-animation" style="position:absolute; margin-left:auto margin-right: auto; right:0; left:0; opacity:0"><i class="fa fa-heart" style="color:red; aria-hidden="true"></i></div>

      <% if @wish.coin_bucket == 0 %>
        <i class="fa fa-heart-o" style="color:red;" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-heart" style="color:red; aria-hidden="true"></i>
      <% end %>
     </h3>
    <%= simple_form_for @donation, url: wish_donations_path(@wish), html:{class: "heart-form text-center"} do |f| %>
      <%= f.input :amount, as: :hidden, input_html: {value: f.object.amount || '1'} %>
      <%= button_tag(type: 'submit', class: "btn btn-remove", id:"btn-remove") do %>
        <i class="fa fa-heart-o fa-3x" style="color:red;" aria-hidden="true"></i>
      <% end %>

      <%= link_to wish_path(Wish.find(@random)) do %>
      <%= button_tag(type: 'button', class: "btn btn-remove", id:"random-btn") do %>
        <i class="fa fa-tint fa-3x" aria-hidden="true" style="color:purple;"></i>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<div class="booyah-box col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 comment-section">
<div class="make-comment">
  <h3 class="my-font text-center">Comments</h3>
  <br>
  <%= simple_form_for @comment, url: wish_comments_path(@wish) do |f| %>
    <%= f.input :message, label: false, placeholder: "Add Comment" %>
    <%= f.submit "Add a Comment", class: "btn btn-primary hideMe clickMe", input_html: {id: "commentsubmit"}%>
  <% end %>
  <hr>
</div>



  <div class="comment">
    <div class="comment-meta">
    <div class="comment-author">
      <!-- <span class="ct-commentthumb"></span> -->
      <span class="ct-commentauthorname">
        KEN
      </span>
      <span class="ct-commenttime">APRIL 12 2017</span>
    </div>
    </div>
    <div class="ct-commentcontent">
      <p>ONE stop! FULL service!
      <br>
      AWESOME! GREAT n’ TNX!</p>
    </div>
  </div>
</div>

<audio id="mysoundclip" preload="auto">
  <!-- <source src="http://www.freesound.org/data/previews/140/140382_2289019-lq.mp3"></source> -->
  <source src="https://www.freesound.org/data/previews/245/245910_3134068-lq.mp3"></source>
</audio>


<script>
  $(document).ready(function(){

var animations = ["flip", "lightSpeedIn","rotateIn","slideInUp"]
var random = Math.floor(Math.random()*animations.length)
console.log(animations[random])

$("#random-btn").on("click",function(event) {
    $(this).hide();
    event.preventDefault()
    // do other stuff here
    $("#kcontainer").addClass("animated "+ animations[random])
      setTimeout(function(){
        $("#kcontainer").removeClass("animated " + animations[random])
        window.location = "/wishes/<%=@random.id%>"
        console.log("<%=@random.id%>")

      },700)

});

<% if user_signed_in? %>
if(<%= current_user.coins%> >0){

  $("#btn-remove").click(function(){
      $("#heart-animation").animate({
        fontSize: "300px",
        opacity: "1"
      });
   });

  var audio = $("#mysoundclip")[0];
    console.log(audio);
    $("#btn-remove").click(function() {
        audio.play();
  });

  $('.heart-form').submit(function (e) {
      var form = this;
      e.preventDefault();
      setTimeout(function () {
          form.submit();
      }, 300); // in milliseconds
  });
}

<% end %>

// check if enter key is pressed on the comment form
$("#comment_message").keypress(function(e) {
    if(e.which == 13) {
      $(".clickMe").click();
      $(this).val("")
    }
});

  });

</script>


