<div class="hero">
<br>
 <div class="float-right white"><%= render "/layouts/coins_ui" %></div>
  <div class="frosty col-10 offset-1 text-center">
    <br>

    <h1>Wish App</h1>
    <br>
    <h2>Make A Wish</h2>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Make A Wish", new_wish_path,class: "btn btn-success"%>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
    <% end %>
    <br> <br>
  </div>
   <ul class="bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

  <h1 class=" booyah-box text-center wish-description">Latest Wishes <i class="fa fa-moon-o" aria-hidden="true"></i></h1>
<div class="row booyah-box">
  <% @wishes.reverse.each do |wish| %>
    <%= link_to wish_path(wish) do %>
      <div class="col-6 wish-link">
        <%= render "wishes/wish", wish: wish %>
    <% end %>
      </div>
    <% end %>

</div>

<h1 class=" booyah-box text-center wish-description wish-link"><span class="btn btn-lg btn-green"><%= link_to "View All", wishes_path, style: "color:white !important;" %></span></h1>


<script type="text/javascript">
var colors = ['#660066', '#03dfd8', '#26dd3f',"#b40819","#9dbbd3","#967a50"];


  var bubbles = $(".bubbles li");
  for(var i = 0; i < bubbles.length; i++){
    var random_color = colors[Math.floor(Math.random() * colors.length)];
    $(bubbles[i]).css("background-color",random_color)
  }
</script>
