<div class="hero">
<br>
 <div class="float-right white"><%= render "/layouts/coins_ui" %></div>
  <div class="frosty col-10 offset-1 text-center">
    <br>

    <h1>Wish App</h1>
    <br>
    <h2>Make A Wish</h2>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Make A Wish", new_wish_path,class: "btn btn-success"%>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
    <% end %>
    <br> <br>
  </div>
</div>

  <h1 class=" booyah-box text-center wish-description">Latest Wishes <i class="fa fa-moon-o" aria-hidden="true"></i></h1>
<div class="row booyah-box">
  <% @wishes.each do |wish| %>
    <%= link_to wish_path(wish) do %>
      <div class="col-6 wish-link">
        <div class="form"  style="background-image: url('<%=wish.url%>'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
              <h1 class="text-center username">
              <% if wish.user.username.present? %>
                <span class="form-username my-font"><%= wish.user.username%>',s Wish:</span>
                <br>
              <% else %>
               <span class="form-username"> Wish
              <% end %>
              </h1>
              <p class="lead text-center wish-description"><%= wish.description %></p>

              <div class="comment-heart">
                <h3 class="text-center">
                  <div class="wish-coin">
                    <div id="coin_bucket-<%=wish.id%>">
                      <span><%= wish.coin_bucket %></span>
                    </div>
                    <% if wish.coin_bucket == 0 %>
                      <span id="fontHeart">
                      <i class="fa fa-heart-o" style="color:red;" aria-hidden="true"></i>
                      </span>
                    <% else %>
                      <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i>
                    <% end %>
                  </div>

                  <div class="wish-comments">
                    <div id="wish-comments">
                      <span><%= wish.comments.count %></span>
                    </div>
                    <% if wish.comments.count == 0 %>
                      <span style="color:#0275d8"><i class="fa fa-comment-o fa-show" aria-hidden="true"></i></span>
                    <% else %>
                      <span style="color:#0275d8"><i class="fa fa-comment fa-show" aria-hidden="true"></i></span>
                    <% end %>
                  </div>
               </h3>
              </div>

        </div>
    <% end %>
      </div>
    <% end %>
</div>

<h1 class=" booyah-box text-center wish-description wish-link"><span class="btn btn-lg btn-green"><%= link_to "View All", wishes_path, style: "color:white !important;" %></span></h1>
