<h1><%= @checkuser %></h1>
<h1><%= @user.inspect %>

<h1>Upload a photo</h1>
<%= simple_form_for Photo.new, url: upload_photos_path do |f|  %>
  <%= f.input :caption, placeholder: "Enter a Description for the photo" %>
  <%= f.input :picture %>
  <%= f.submit "Upload" %>

<% end %>


<% @photos.each do |photo| %>
  <h1><%= photo.caption %></h1>
  <%=image_tag photo.picture %>

<% end %>

