<div class="booyah-box">
  <div class="row">
    <div class="col-12 col-sm-4">
      <h1><%= @user.username %></h1>
      <h3>Member since: <%= @user.created_at.strftime("%B %d %Y") %></h3>
      <h4>Total wishes: <%= @user.wishes.count%></h4>
      <h4>Total replies: <%= @user.comments.count%></h4>
    </div>

    <div class="col-12 col-sm-4">
    <br>
      <h3>Lastest Wishes</h3>
      <br>
      <% @wishes.reverse.each do |wish| %>
        <div>
          <p class="my-font">-<%= link_to wish.description, wish_path(wish)%></p>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-4">
    <br>
      <h3>Latest Replies</h3>
      <br>
      <% @comments.reverse.each do |comment|%>
        <%= link_to wish_path(comment.wish) do %>
          <p class="my-font">-<%= comment.user.username%>:
          <%= comment.message%></p>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>

</div>

<h1 class="text-center">My Wishes</h1>
<div class="row">
  <% @user.wishes.each do |wish| %>
    <div class="col-12 col-sm-6">
      <blockquote class="blockquote"><%= wish.description %></blockquote>
    </div>
  <% end %>
</div>
