<div class="booyah-box">
  <div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 text-center">
      <h1 class="my-font3 underlined"><%= @user.username %></h1>
      <h3>Member since: <%= @user.created_at.strftime("%B %d %Y") %></h3>
      <h4>Total wishes: <%= @user.wishes.count%></h4>
      <h4>Total replies: <%= @user.comments.count%></h4><br>
      <h5><%= link_to "Change Password", edit_user_registration_path(current_user) %></h5>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12 col-sm-5 offset-sm-1">
    <br>
      <h3 class="my-font3">Lastest Wishes</h3>
      <br>
      <% @wishes.reverse.each do |wish| %>
        <div>
          <p class="my-font">-<%= link_to wish.description, wish_path(wish)%></p>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-sm-5 offset-sm-1">
    <br>
      <h3 class="my-font3">Latest Comments</h3>
      <br>
      <% @comments.reverse.each do |comment|%>
        <%= link_to wish_path(comment.wish) do %>
          <p class="my-font">-<%= comment.user.username%>:
          <%= comment.message%></p>
        <% end %>

      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="booyah-box">
  <br> <br>
  <h1 class="text-center my-font3 underlined">My Wishes</h1>
  <br> <br>

  <div class="row">
    <% @user.wishes.reverse.each do |wish| %>
      <div class="col-12 col-sm-5 offset-sm-1">
        <blockquote class="blockquote my-font"><%= link_to wish.description, wish_path(wish) %></blockquote>
      </div>
    <% end %>
  </div>
</div>


<div class="booyah-box">
  <br> <br>
  <h1 class="text-center my-font3 underlined">My Comments</h1>
  <br> <br>

  <div class="row">
    <% @user.comments.reverse.each do |comment| %>
      <div class="col-12 col-sm-5 offset-sm-1">
        <blockquote class="blockquote my-font"><%= link_to comment.message, wish_path(comment.wish) %></blockquote>
      </div>
    <% end %>
  </div>
</div>
